 :root {
            --w: calc(70vw / 6);
            --h: calc(130vh / 4);
        }

div{
    display: inline-block;
}

.fondo{
    background-color: #20c997;
    -webkit-perspective: 1000;
    height: 100%;
    width: 100%;
    min-height: 80vh;
    display: inline-block; 
    flex-direction: colum;
    justify-content: center;
    align-items: center;
}

* {
    transition: all 0.5s;
}

.area-tarjeta, .tarjeta, .cara{
    /*width: 150px;
    height: 220px;*/
    cursor: pointer;
    width: var(--w);
    min-width: 100px;
    height: var(--h);
    margin: 10px; 
}

.tarjeta{
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cara{
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 5px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    background-color: white;
    transform: rotateY(180deg);
}

.front{
    background-color: darkgrey;
}

.imagen_frente{
    width: 150px;
    height: 140px;
    min-width: 80px;
}

.imagen_atras{
    width: 150px;
    height: 140px;
    min-width: 80px;
}


@keyframes iniciar {
    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}

.text-edit{
  font-family: monospace;
  font-size: x-large;
  color: black;
}

#tablaPodium{
    width: 54vw;
    height: 4vw;    
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
}