*{
	transition: all 0.6s;
}

.estilos{
	background-color: #B86461;
	width: 47vw;
	height: 30vw;
	
	display:  flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1px;
}

.encabezado{
	background-color: white;
	min-width: 400px;
	width: 75%;
	text-align: center;
}

.encabezado h3{
	font-family: fantasy;
	font-size: x-large;
	color: #854846;
}

.btnR{
	background-color: white;
	width: 60%;
	padding: 10px;
	margin: 5px;
}

.btnR h6{
	font-family: sans-serif;
	font-size: medium;
	color: #421D1C;
  	font-weight: bold;
}

.btnR:hover{
	/*background: lightgrey;*/
	cursor: pointer;
	transform: scale(1.05);
}

.text-edit{
	font-family: monospace;
	font-size: x-large;
	color: black;
}