/* Espacio para el crucigrama */
main{
	max-width: 810px;
	margin: auto;
}
.grid{
	width: 750px;
	height: 750px;
	margin: 20px;
	border: 25px solid #265E31;
}
/* Casilla para cada letra de las palabras  */
.input {
    float: left;
    width: 35px;
    height: 35px;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    font-size:22px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    text-transform: uppercase;
}
::-webkit-input-placeholder {
  color: rgb( 38, 94, 49 );
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
}