.imagen{
	background-image: url('../tales/images/fondo_podium.jpg');
	width: 100%;
	height: 100vh;
}

.tituloAct{
	align: center; 
	font-family: cursive; 
	font-size: 48px;
	height: 50vh; 
	margin-left: 16%; 
}