#primer_lugar{  
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  background-color: #D4AF37;
}

#segundo_lugar{
 
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  background-color: #8a9597;
}

#tercer_lugar{
 
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  background-color: #b95b3f;
}

.fondoPodium{
	background-color: #CB6D51;
	width: 54vw;
  height: 4vw;    
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
}

#lugar{
	color: white;

}